################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdobeSign/bin/
/AdobeSign/obj
/AzureFunctionApp/bin
/AzureFunctionApp/obj
